.container {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 12px 9px;
}

.detail {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.heightRef {
  overflow: hidden;
  border-top: 1px solid #ddd;
  padding-top: 12px;
}
